.wholePage{

}

.headLine{
	width: 100%;

}

.animals{
	margin: 20px 0 ;
}

.animal{
	display: inline-block; 
	margin-right: 10px;
}

#dog, #cat {
display: none;
}

[for="dog"]{background: url(../images/dog.jpg) 0 0 no-repeat;}
[for="cat"]{background: url(../images/cat.jpg) 0 0 no-repeat;}

[for="dog"], [for="cat"] {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  
  background-size: contain; 
  cursor: pointer;
}



[for="dog"]:after, [for="cat"]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

[for="dog"]:before, [for="cat"]:before  {
  content: "";
  position: absolute;
}

#dog:checked ~ [for="dog"]:after, #cat:checked ~ [for="cat"]:after {
  border-radius: 100%;
  padding: 7px;
  left: -9px;
  top: -5px;
  box-shadow:
       inset 0 3px 5px 1px rgba(0,0,0,.1),
        0 1px 0 rgba(65, 105, 225,.4),
        0 0 10px 2px rgba(65, 105, 225, .5);

       
}


.information{
	width: 70%;
	margin: 0 auto ;
}

.animals, .searchBar{
	display: flex;
	justify-content:center;
	
}

input[name="theSearch"]{
	background-color: CornflowerBlue;
	border:none;
	height: 20px;
	width: 280px;
	padding-right: 50px;

}



button{
	background-color: CornflowerBlue;
	border:none;
	margin-left: -50px;
	
	height: 20px;
	cursor: pointer;
}

button:focus, input[name="theSearch"]:focus{
	outline: none;
}


#content{
	background-color: LightSteelBlue;
	width: 70%;
	top: 20px;
	margin: 0 auto;
}

.percentage, .recipe{
display: inline-block;
border: 2px solid CornflowerBlue;
 }

 .recipe{ 
 	margin-left:-2px;
 	width: 79%;

 }

 .percentage{
 	width: 20%;
 }

.logo img{
	width: 150px;
}





